/*  */

@media only screen and (max-width: 1150px) {
  .navbar-img {
    margin: 1px 0 0 0px;
  }

  .header {
    width: 960px;
  }

  @media only screen and (max-width: 1000px) {
    /*  */

    .get::before {
      display: none;
    }

    .get {
      display: block;
      padding-top: 225px;
      height: auto;
    }

    .store {
      width: 100%;
    }

    .home-heading {
      display: inline;
    }

    .store-detail {
      width: 73%;
      margin: 0 auto;
      padding: 0 15px;
      text-align: center;
    }

    .home-para {
      color: rgba(0, 0, 0, 0.35);
    }

    .home-img {
      display: block;
      margin: 40px auto 0 auto;
      width: 70%;
    }
    /* ----  --- Card ---  ---- */
    .card {
      display: block;
    }

    .service-card {
      width: 700px;
      margin: 30px auto;
      text-align: center;
    }

    .service-card:hover {
      background-position: top, right;
    }

    .service-card:hover
      :is(.service-icon-1, .service-icon-2, .service-icon-3, .service-icon-4) {
      background-position: center;
    }

    .service-card-icon {
      background-position: center;
    }

    .card::after {
      bottom: -38px;
      left: 15px;
    }

    .card::before {
      bottom: -70px;
      left: 54px;
    }

    /* ---- --- Services --- ---- */

    .services-detail {
      width: 98%;
    }

    .service-para {
      width: 50%;
    }
  }
}

/* ---------- ------------ ------------- --------- */

@media only screen and (max-width: 990px) {
  .header {
    justify-content: center;
  }

  .navbar-btns {
    margin: 0 14px;
  }

  .sign-btn {
    margin: 0px 10px 0 18px;
  }

  .navbar-img {
    margin: 1px 20px 0 -5px;
  }

  .header {
    width: 95%;
  }
}

/*  --------- --------- ---------- --------- */

@media only screen and (max-width: 760px) {
  .header {
    justify-content: space-between;
  }

  .navbar-img {
    width: calc(32% - 10px);
    text-align: end;
  }

  .navbar-logo {
    margin-left: 50px;
  }

  .hamburger {
    margin-right: 42px;
  }

  .navbar-navigation {
    display: none;
  }

  .smallScreen-menu {
    display: block;
  }

  /* Card */
  .service-card {
    width: 460px;
  }

  .service-card:hover
    :is(.service-icon-1, .service-icon-2, .service-icon-3, .service-icon-4) {
    background-position: right;
  }

  .service-card-icon {
    background-position: right;
  }

  .service-para {
    width: 65%;
  }
}

@media only screen and (max-width: 550px) {
  .menu-ul {
    min-width: 100%;
  }

  .store-detail {
    width: 100%;
  }

  .header {
    width: 90vw;
  }

  .hamburger {
    margin-right: 25px;
  }

  .navbar-img {
    width: auto;
    text-align: end;
    margin: 0;
  }

  .navbar-logo {
    margin-left: 20px;
  }

  .home-btns {
    display: flex;
    margin-top: 30px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .h-btns {
    margin: 12px 0px 0 0;
  }

  .home-img {
    width: 95%;
  }

  .card {
    padding: 0 12px;
  }

  .service-card {
    width: 100%;
  }

  @media only screen and (max-width: 400px) {
    .client-account {
      transform: translate(-50%, 1px);
      width: 300px;
    }
    .services-pic {
      padding: 60px;
    }
  }
}
